.header
  - if user_signed_in? 
    %h1.header__manth 
      = "ようこそ#{current_user.name}さん！見たい月を選んで下さい。"
    =link_to destroy_user_session_path, class: "header__logout", method: :delete do
      .header__logout__btn ログアウト
    =link_to new_category_path, class: "header__new" do
      .header__new__btn 金額入力へ
  - else
    =link_to new_user_registration_path, class: "header__registration" do
      .header__registration__btn 新規登録
    =link_to new_user_session_path, class: "header__login" do
      .header__login__btn ログイン

.side-contents
  - if user_signed_in?
    - @months.each do |month|
      = link_to month_path(month.id),class: "side-content__link"  do
        %ul.side-content
          %li.side-content__month
            = month.month
          %li.side-content__money
            = "¥#{Content.where("month_id = #{month.id}").sum(:money).to_i}"