.expense-form
  %h1 支出新規入力
  = form_for(@expense_content, url: contents_path) do |f|
    = f.label :name, "カテゴリー"
    = f.collection_select :category_id, Category.all, :id, :name
    = f.label :month, "月"
    = f.collection_select :month_id, Month.all, :id, :name
    = f.label :content, "内容"
    = f.text_field :content
    = f.label :money, "金額" 
    = f.text_field :money
    = f.submit "登録する"