.header
  = render 'shared/header'
= month_calendar(attribute: :day, events: @expense_events, ) do |date, expenses|
  = date
  - expenses.each do |expense|
    .expense_money
      = "¥#{expense.money}"
 

