.header
  %h1.header__manth 
    = @month.month
  %h2.header__user_name
    = current_user.name
  =link_to destroy_user_session_path, class: "header__logout", method: :delete do
    .header__logout__btn ログアウト
  =link_to new_category_path, class: "header__new" do
    .header__new__btn 金額入力へ
.side-contents
  - @months.each do |month|
    = link_to month_path(month.id),class: "side-content__link"  do
      %ul.side-content
        %li.side-content__month
          = month.month
        %li.side-content__money
          = "¥#{Content.where("month_id = #{month.id}").where("user_id = #{@user}").sum(:money).to_i}"