.wrapper
  = render 'shared/income_sidebar'
  .contents
    .left-content
      .left-content__title
        %h2.left-content__title__name
        収入の詳細
      .left-content__list
        %table.left-content__list__category
          - @income_categories_hash.each do |k,v|
            %tr.category{"data-cat-id": v[1].income_contents.where("month_id = #{@month.id}").where("user_id = #{@user}").length}
              %td.triangle-open
                ▶︎
              %td.triangle-close.hidden
                ▼
              %td.category-name
                = "●#{k}" + ":"
              %td
                = "¥#{v[0]}"  
            
            - v[1].income_contents.where("month_id = #{@month.id}").where("user_id = #{@user}").each do |con|
              %tr.content-show.hidden
                %td
                %td
                  = "・#{con.content}"+":"
                %td
                  = "¥#{con.money}"
                %td
                  =link_to edit_income_income_content_path(@month.id, con.id), class: "edit_link" do
                    .edit_btn 編集する
                %td
                  =link_to income_income_content_path(@month.id, con.id),method: :delete, class: "destroy_link" do
                    .destory_btn 削除する
      
      .left-content__total
        %p.left-content__total__category
          合計:
          = "¥#{IncomeContent.where("month_id = #{@month.id}").where("user_id = #{@user}").sum(:money).to_i}"
    .chart
      = pie_chart @income_categories_hash, id: "total-chart", width: "500px", height: "400px"
    

    
:css
  .triangle-open {
    cursor: pointer;
  }
  .triangle-close {
    cursor: pointer;
  }
  .category-name {
    width: 200px;
  }
  .hidden {
    display: none;
  }