.expense-form
  %h1 新規入力
  = form_for(@category) do |f|
    = f.label :name, "カテゴリー"

    = f.select :name, [["食費","食費"], ["交通費","交通費"], ["外食費","外食費"], ["趣味","趣味"], ["日用品","日用品"], ["自動車","自動車"], ["衣類","衣類"], ["スポーツ","スポーツ"], ["医療費","医療費"], ["税金","税金"], ["光熱費","光熱費"], ["住宅費","住宅費"], ["保険","保険"], ["自己投資","自己投資"], ["通信費","通信費"], ["その他","その他"]]
    = f.fields_for :content, class: "form-month" do |m| 
      = m.label :month, "月"
      = m.select :month, [["1月","1月"], ["2月","2月"], ["3月","3月"], ["4月","4月"], ["5月","5月"], ["6月","6月"], ["7月","7月"], ["8月","8月"], ["9月","9月"], ["10月","10月"], ["11月","11月"], ["12月","12月"]]
    = f.fields_for :content, class: "form-content" do |c| 
      = c.label :content, "内容"
      = c.text_field :content
      = c.label :money, "金額" 
      = c.text_field :money
    = f.submit "登録する"