.wrapper
  = render 'shared/expense_sidebar'
  .expenses
    .left-content
      .left-content__title
        %h2.left-content__title__name
        支出の詳細
      .left-content__list
        %table.left-content__list__category
          - @expense_categories_hash.each do |k,v|
            %tr.category{"data-cat-id": v[1].expense_contents.where("month_id = #{@month.id}").where("user_id = #{@user}").length}
              %td.triangle-open
              %td.triangle-close.hidden
              %td.category-name
                = "●#{k}" + ":"
              %td
                = "¥#{v[0]}"  
            
            - v[1].expense_contents.where("month_id = #{@month.id}").where("user_id = #{@user}").each do |con|
              %tr.content-show.hidden
                %td
                %td
                  = "・#{con.content}"+":"
                %td
                  = "¥#{con.money}"
                %td
                  =link_to edit_expense_expense_content_path(@month.id, con.id), class: "edit_link" do
                  -# = link_to "/expenses/#{@month.id}/expense_contents/#{con.id}/edit" do
                  .edit_btn 編集する
                %td
                  =link_to expense_path(con.id),method: :delete, class: "edit_link" do
                    .destory_btn 削除する

      .left-content__total
        %p.left-content__total__category
          合計:
          = "¥#{ExpenseContent.where("month_id = #{@month.id}").where("user_id = #{@user}").sum(:money).to_i}"
        %p.left-content__total__money
    .chart
      = pie_chart @expense_categories_hash, id: "total-chart", width: "500px", height: "400px"
    

    
:css
  .category-name {
    width: 200px;
  }
  .triangle-open {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid black;
  }
  .triangle-close{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid black;
    
  }
  .hidden {
    display: none;
  }